*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --cinzaSubtitulo: #737373;
    --vermelhoVivo: #ff0000;
    --preto: #1D1D1D;
    --cinzaClaro: #f2f2f2
}