#header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
#headerLogo{
    height: 120%;
}
#shopIcon{
    transition: 0.1s ease-in-out;
    margin-right: 1.5%;
    height: 50%;
}
#shopIcon:hover{
    transform: scale(1.05);
    cursor: pointer;
}