#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../src/fundoSkate.svg");
    background-size: cover;
    background-position: center;
}