.produtos{
    width: 100%;
    margin: auto;

    .tituloh4{
        margin: 5% 4% 0%;
        font-family: "Open Sans", sans-serif;
        color: var(--cinzaSubtitulo);
    }
}
.swiper{
    box-sizing: border-box;
    --swiper-navigation-color: var(--cinzaSubtitulo);
    --swiper-pagination-color: red;
    position: relative;
    width: 100%;
    height: 70vh;
}
.swiper-wrapper{
    align-items: center;
}
.swiper-slide{
    opacity: 1;
    background-color: white;
    height: 85% !important;
    border-radius: 20px;
    box-shadow: 
    0px 
    1px 
    10px 
    1px 
    rgba(0, 0, 0, 0.547);
}
.imagem{
    display: flex;
    width: 50%;
    height: 60%;
    margin: auto;
}
.favorites{
    transition: 0.2s ease-in-out;
    background-image:url(../src/favoriteIconStroke.svg);
    background-size: cover;
    background-position: center;
    margin: 5%;
    height: 5%;
    width: 9%;
}
.favorites:hover{
    cursor: pointer;
    background-image: url(../src/favoriteIconHover.svg);
}
.infosProdutos{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    height: auto;

    h3{
        font-family: 'League Spartan';
        color: var(--preto);
    }
    h4{
        font-family: 'League Spartan';
        color: var(--cinzaSubtitulo);
    }
    button{
        width: 40%;
        display: flex;
    }
    .nomeOferta,
    .sobreNomeOferta{
        color: rgb(0, 0, 0);
    }
    .precoOferta{
        color: red;
    }
}

.buttonsOpitions{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}


.button {
        height: 100% ;
        width: 100%;
        margin: 2%;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid var(--preto);
        overflow: hidden;
        border-radius: 30px;
        color: var(--preto);
        transition: all 0.1s ease-in-out;
}
    

    .button:hover {
        background-color: rgb(210, 210, 210);
    }

    .txtButton{
        margin: auto;
        z-index: 1;
        font-weight: 800;
        letter-spacing: 0.5px;
    } 

.swiper-button-prev,
.swiper-button-next{
    position: absolute;
    color: red !important;
    top: 50%;
}

span{
    display: inline;
}
footer{
    color: var(--preto);
    display: flex;
    justify-content: center;
}
/*-------------------------------------------Mobile-------------------------------------*/
@media (max-width:760px){
    .favorites{
        width: 8%;
        height: 4%;
    }
}
/*---------------------LandScape---------------------------------------------------*/
@media (orientation: landscape) and (max-width: 900px) {
    .swiper-slide .favorites{
        width: 4%;
        height: 4%;
        background-size: cover;
    }
    .infosProdutos{
        margin: 0%;
        h3{
            margin-left: 2%;
            font-size: 12px;
        }
        h4{
            margin-left: 2%;
            font-size: 10px;
        }
    }
    .button{
        margin: 0;
        height: 5vh;

        .txtButton{
            font-size: 9px;
        }
    }
    .imagem{
        height: 50%;
    }
    .button{
        width: 30%;
    }
 }
/*----------------------------------------Tablet--------------------------------*/
@media (min-width: 761px) and (max-width:1000px){
    .favorites{
        width: 8%;
        height: 4%;
    } 
}
